.center{
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 25px;
  color: rgb(160, 144, 24);
}
#date{
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-left: auto;
}
body{
background-color: darkgray;
}
#btn{
  background-color: rgb(9, 126, 252);
  border-radius: 5px;
  color: white;
  border: white;
  margin: 4px;
  padding: 6px;
  width: 50%;
  margin-left: auto;
}